*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins',sans-serif;
  background:#fff;
  overflow-x:hidden;
}

.container{
  width:1144px;
  margin:auto;
}

/* ========================= */
/* HERO */
/* ========================= */

.hero-section{
  position:relative;

  min-height:100vh;

  padding-top:96px;
  padding-bottom:120px;

  overflow:hidden;

  background-image:url("../IMAGE/background pricing.jpg");

  background-size:cover;


  background-repeat:no-repeat;

}

.hero-section{

  background-position:center 0px;

  transition:
    background-position 0.1s linear;
}

/* SAAT SEMUA CLOSE */
.hero-section.all-closed{

  padding-bottom:15px;

}

/* GRADIENT */
/* GRADIENT */
.hero-section::before{
  content:"";
  position:absolute;
  inset:0;

  background:
  linear-gradient(
    to bottom,
    #1A1A1A 0%,
    rgba(6,78,59,0.46) 100%
  );

  z-index:1;
}

/* BLUR OVERLAY */
.hero-section::after{
  content:"";
  position:absolute;
  inset:0;

  background:
  rgba(0,0,0,0.14);

  backdrop-filter:
    blur(42px)
    saturate(120%);

  -webkit-backdrop-filter:
    blur(42px)
    saturate(120%);

  z-index:2;

  pointer-events:none;
} 

/* CONTENT */
.hero-section .container{
  position:relative;
  z-index:10;
}


/* CONTENT */



/* CLOSE BUTTON */

.close-btn{
  width:31px;
  height:31px;
  position:relative;
  background:none;
  border:none;
  cursor:pointer;
  margin-bottom:90px;
}

.close-btn span{
  position:absolute;
  width:100%;
  height:2px;
  background:#fff;
  left:0;
  top:50%;
}

.close-btn span:first-child{
  transform:rotate(45deg);
}

.close-btn span:last-child{
  transform:rotate(-45deg);
}

/* TOP */

.hero-top{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  margin-bottom:92px;
}

.hero-left h1{
  font-size:38px;
  font-weight:600;
  color:#fff;
  line-height:1;
  margin-bottom:17px;
}

.hero-left p{
  font-size:15px;
  line-height:28px;
  color:#fff;
  font-weight:400;
}

.hero-right input{
  width:200px;
  height:47px;
  border:0.5px solid rgba(255,255,255,0.4);
  border-radius:100px;
  background:transparent;
  padding:0 32px;
  text-align:center;

  color:#fff;
  outline:none;

  font-family:'Poppins',sans-serif;
  font-size:15px;
  font-weight:300;
}

.hero-right input::placeholder{
  color:rgba(255,255,255,0.4);
}

/* ========================= */
/* ACCORDION */
/* ========================= */

.big-group{
  margin-bottom:36px;
}



.big-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  cursor:pointer;
}

.big-header h3{
  font-size:18px;
  font-weight:400;
  color:#fff;

  letter-spacing:0.2px;
}

.arrow{
  width:11px;
  height:11px;

  border-right:2px solid #fff;
  border-bottom:2px solid #fff;

  transform:rotate(45deg);

  margin-right:24px;

  transition:transform 0.45s cubic-bezier(0.16, 1, 0.3, 1);
}





.big-group.closed .arrow{
  transform:rotate(-135deg);
}

.big-line{
  width:1144px;
  height:0.7px;
  background:rgba(255,255,255,0.15);
  margin-top:9px;
}

.big-content{

  margin-top:32px;

  overflow:hidden;

  max-height:5000px;

  transform:translateY(0);

  opacity:1;

  will-change:transform, opacity;

  transition:
    max-height 1.1s cubic-bezier(0.19, 1, 0.22, 1),
    transform 1.1s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.7s ease,
    margin-top 1.1s cubic-bezier(0.19, 1, 0.22, 1);
}

/* SAAT CLOSE */
.big-group.closed .big-content{

  max-height:0;

  margin-top:0;

  transform:translateY(-24px);

  opacity:0;
}

.instrument-group{
  margin-bottom:32px;
  padding-left:92px;

  transform:translateY(0);
  opacity:1;

  transition:
    transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.7s ease;
}



.instrument-group label{
  display:block;
  color:#fff;
  font-size:15px;
  margin-bottom:14px;
}

.option-box{
  width:1052px;
  min-height:65px;
  background:rgba(255,255,255,0.05);
  border-radius:999px;

  /* sebelumnya padding:6px */
  padding:6px 10px;

  display:flex;
  flex-wrap:wrap;
  gap:6px;
  align-items:center;
}
.option{
  height:47px;
  padding:0 21px;
  border-radius:999px;
border:0.5px solid rgba(255,255,255,0.28);
color:rgba(255,255,255,0.38);
  background:transparent;
  
  display:flex;
  align-items:center;
  justify-content:center;
  gap:12px;
  cursor:pointer;
  transition:0.25s;
  font-size:15px;
}

.summary-box:first-child{
  border-top:0.5px solid rgba(50,77,75,0.5);
}

.option.active{
  background:#fff;
  color:#4b4b4b;
    box-shadow:
    0 0 14px rgba(255,255,255,0.16),
    0 0 28px rgba(255,255,255,0.08);
}

.option .remove{
  width:10px;
  height:10px;
  position:relative;
  display:none;
}

.option.active .remove{
  display:block;
}

.option .remove::before,
.option .remove::after{
  content:"";
  position:absolute;
  width:100%;
  height:2px;
  background:#4b4b4b;
  top:4px;
}

.option .remove::before{
  transform:rotate(45deg);
}

.option .remove::after{
  transform:rotate(-45deg);
}

/* INPUTS */

.custom-input{
  width:1052px;
  height:65px;
  background:rgba(255,255,255,0.05);
  border:none;
  border-radius:999px;
  padding:0 32px;

  color:#fff;
  outline:none;

  font-family:'Poppins',sans-serif;
  font-size:15px;
  font-weight:300;
}

.custom-input::placeholder{
  color:rgba(255,255,255,0.38);

  font-family:'Poppins',sans-serif;
  font-size:15px;
  font-weight:300;
}

textarea.custom-input{
  border-radius:30px;
  padding-top:20px;
  min-height:140px;

  height:auto;

  resize:none;

  overflow:hidden;

  line-height:30px;
}

/* ========================= */
/* SUMMARY */
/* ========================= */

.summary-section{
  background:#fff;
  padding-top:110px;
  padding-bottom:110px;
}

.summary-container h2{
  font-size:50px;
  font-weight:600;
  color:#324D4B;
  margin-bottom:50px;
}

.summary-head{
  display:flex;
  align-items:center;

  margin-bottom:20px;

  padding:0 41px 0 28px;
}

.summary-head span:last-child{
  margin-left:auto;
  width:500px;
  text-align:right;
}

.summary-head span{
  font-size:17px;
  color:rgba(50,77,75,0.5);
  font-weight:400;
  text-transform:uppercase;
}

.summary-box{
  width:1144px;

  border-left:0.5px solid rgba(50,77,75,0.5);
  border-right:0.5px solid rgba(50,77,75,0.5);
  border-bottom:0.5px solid rgba(50,77,75,0.5);

  overflow:hidden;
}

.summary-main{
  padding:18px 28px;
  border-bottom:0.5px solid rgba(50,77,75,0.5);
  font-size:18px;
  font-weight:600;
  color:#324D4B;
}

.summary-item{
  display:flex;
  justify-content:space-between;

  align-items:flex-start;

  gap:40px;

  padding:18px 41px 18px 72px;

  border-bottom:0.5px solid rgba(50,77,75,0.5);

  background:#fff;
}

.summary-item:last-child{
  border-bottom:none;
}

.summary-item span{
  font-size:17px;
  color:#324D4B;
}

.summary-item .right{
  text-align:right;

  max-width:500px;

  white-space:pre-wrap;

  word-break:break-word;

  line-height:30px;
}

/* TOTAL */

.total-box{
  width:1144px;
  min-height:96px;

  background:rgba(232,232,232,0.92);

  /* samakan dengan box atas */
  border-left:0.5px solid rgba(50,77,75,0.5);
  border-right:0.5px solid rgba(50,77,75,0.5);
  border-bottom:0.5px solid rgba(50,77,75,0.5);

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:30px;
}

.total-left span{
  font-size:30px;
  font-weight:500;
  color:#324D4B;
}

.total-right{
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  gap:20px;
}

.total-right h3{
  font-size:38px;
  font-weight:500;
  color:#324D4B;
}

.wa-btn{
  width:274px;
  height:65px;

  background:#CF7325;

border-left:0.5px solid #8E9C9B;
border-right:0.5px solid #8E9C9B;
border-bottom:0.5px solid #8E9C9B;

  border-top:none;

  color:#fff;
  text-decoration:none;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:17px;
  font-weight:500;

  margin-left:auto;

  transition:
    background 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.wa-btn:hover{

  background:#d97c2d;


  transform:translateY(-2px);

  box-shadow:
    0 10px 24px rgba(207,115,37,0.16);
}

.summary-container > .wa-btn{
  display:flex;
}

/* TERMS */

.terms-section{
  padding-bottom:120px;
}

.terms-section h2{
  font-size:38px;
  font-weight:600;
  color:#324D4B;
  margin-bottom:32px;
}

.terms-grid{
  display:grid;
  grid-template-columns:519px 519px;
  gap:115px;
}

.term-item{
  font-size:17px;
  line-height:32px;
  color:#324D4B;
  margin-bottom:28px;
}

/* ========================= */
/* CLOSE BUTTON RESPONSIVE */
/* ========================= */

/* Desktop / Laptop */
@media screen and (min-width: 769px){

  .close-btn{
    display:none;
  }

}

/* HP */
@media screen and (max-width: 768px){

  .close-btn{
    display:block;
  }

}